<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="~/lib/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="pagination-centered">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/lodash/lodash.js"></script>
</body>
</html>
