@model OnlineStore.Features.Order.Completed.Command

<div class="col-md-8 pull-right">
    <h2>Thank you, @User.Identity.Name!</h2>
    <p>Thank you for placing your order.</p>
    <p>We'll ship your goods as soon as possible.</p>
</div>