@model CategoryEditViewModel

<ul id="validationSummary" class="alert alert-danger hidden"></ul>
<div class="form-group">
    <input type="hidden" asp-for="Id" />
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
</div>