@model RoleCreateViewModel

@{ 
    ViewBag.Title = "Create role";
    Layout = "_AdminLayout";
}

<form asp-action="Create" asp-controller="Role" method="post">
    <ul id="validationSummary" class="alert alert-danger hidden"></ul>

    <div class="form-group">
        <h4>Name</h4>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-warning">Submit</button>
    <a asp-action="Roles" asp-controller="Admin" class="btn btn-danger">Cancel</a>
</form>